*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
}

.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.75);
}

.header{
    color: rgb(0, 0, 0);
    font-size: 5em;
}

.tile{
    display: flex;
    font-size: 100px;
    justify-content: center;
    font-family: 'Roboto';
    align-items: center;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
}

.winText{
    color: rgb(0, 0, 0);
    font-size: 4em;
    font-family: "Roboto";
    justify-content: center;
}